@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(139, 132, 240);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url(images/jakescompetetion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(139, 132, 240);
}

h1 {
    color: aquamarine;
    opacity: .75;
}

.fa-birthday-cake {
    color: aquamarine;
    font-size: 40px;
    opacity: .75;
}
.fa-birthday-cake:hover {
    color: rgb(127, 241, 92);
    cursor: pointer;
}
@media (max-width: 375px) {
    body {
        background-color: cornsilk;
    }
}
